img.circle.avatar-icon {
	max-width: 80%;
}

#peopleProfile {
	position: relative;
}

#peopleProfile .card {
	padding-top: 30px;
	padding-bottom: 30px;
}

#returnBtn {
	position: absolute;
	top: 0;
	right: 0;
}

#returnBtnBtm {
	display: none;
}

@media (max-width: 480px) {
	#peopleProfile .card {
		padding-left: 1em;
		padding-right: 1em;
	}
	#returnBtnBtm {
		display: block;
		width: 100%;
		margin-bottom: 20px;
	}

}