@import url('https://fonts.googleapis.com/css?family=Finger+Paint');

.filterDiv {
  display: none;
}
.show {
  display: block;
}
.container {
  overflow: hidden;
}
sup.dos {
  font-family: 'Finger Paint', cursive;
  color: #28a745;
  font-size: 1.1rem;
  font-weight: bold;
}
.btn.active {
  background-color: #ffb400;
  color: #000;
}
img.logo-icon {
  height: 2rem;
  vertical-align: top;
}
img.avatar-icon {
  height: auto;
  vertical-align: top;
}
.bg-light {
  background-color: #f8f9fa!important;
}
.cover-image {
  height: 11vh;
  object-fit: cover;
}
.navbar-brand {
  font-size: 1.6rem;
  letter-spacing: .04rem;
}
button.btn.btn-outline-success.btn-sm {
  border-color: #17c67100;
}
.shards-app-promo-page--1 .welcome {
  background: url(../images/welcome-cover.jpg) no-repeat center center fixed;
  background-size: cover;
}
.card-body {
    padding: 1.2rem 1.2rem 0;
}
.card .card-text {
  margin-bottom: 1rem;
  font-size: .9rem;
}
.score {
  font-size: 7vw;
  display: inline-block;
  color: #ffb400;
}
.card-footer {
  padding: .5rem 1rem;
}
li.nav-item {
  margin: auto;
}
.entry-category {
  text-transform: uppercase;
  color: green;
  font-size: .8125rem;
  font-weight: 500;
  letter-spacing: .09rem;
  margin-bottom: 18px;
}
/* Circle Avatar Styles */
.circle {
	line-height: 0;		/* remove line-height */ 
	display: inline-block;	/* circle wraps image */
	margin: 5px;
  border: 2px solid rgb(255, 255, 255);
	border-radius: 50%;	/* relative value */
	box-shadow: 0px 0px 5px rgba(0,0,0,0.4);
}
.navbar img.circle {
  width: 2.5rem;
  height: 2.5rem;
}
#myBtnContainer {
  width: fit-content;
  background-color: #f5f6f6;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d0d0d0;
}
/* Style the buttons */
#myBtnContainer .btn:hover {
  background-color: #666;
  color: #fff;
}
.card {
  -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein .5s; /* Firefox < 16 */
      -ms-animation: fadein .5s; /* Internet Explorer */
       -o-animation: fadein .5s; /* Opera < 12.1 */
          animation: fadein .5s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.border-left {
  border-left: 1px solid #eee;
}
.form-control {
  height: calc(2.428rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
}

/* Small devices (tablets, 767px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 767px) {  
  .card-columns {column-count: 1;}
  #myBtnContainer{
    border-radius: 0;
  }
  #myBtnContainer button.btn{
    line-height: .7;
    margin: .5rem;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .card-columns {column-count: 2;}
}

@media (max-width: 992px) {
  a.circle.mr-3 {
    display: none !important;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .card-columns {column-count:3;}
  .card-footer button.btn {
    padding: .75rem;
  }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .card-columns {column-count: 4;}
  .card-footer button.btn {
      padding: 0.25rem 1.2rem;
      display: inline-grid;
  }
  .card-footer button svg {
    margin-bottom: .25rem!important;
    margin-right: auto!important;
    margin-left: auto!important;
  }
}