#home .home {
  background-color: #ffb400;
  color: #000;
}

#people .people {
  background-color: #ffb400;
  color: #000;
}

#places .places {
  background-color: #ffb400;
  color: #000;
}

#products .products {
  background-color: #ffb400;
  color: #000;
}

/* .btn:hover {
	background-color: #666;
	color: #fff;
} */