#home .home {
  background-color: #ffb400;
  color: #000;
}

#people .people {
  background-color: #ffb400;
  color: #000;
}

#places .places {
  background-color: #ffb400;
  color: #000;
}

#products .products {
  background-color: #ffb400;
  color: #000;
}

@media (max-width: 480px) {
  #navBtnPeople,
  #navBtnPlaces,
  #navBtnProducts {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  #home,
  #people,
  #products,
  #places {
    margin-top: 0px !important;
  }

}